<script>
	import { onMount } from 'svelte';
	import { getPokemonById } from '../../../pokeStore.js';

	/** @type {import('./$types').PageData} */
	export let data;
    export let type = [];

	let isLoaded = false;
	let pokeman;

	onMount(async () => {
        pokeman = await getPokemonById(data.id);

        type = pokeman.types.map((typ, dx)=>{
            return typ.type.name;
        }).join(",");

		isLoaded = true;
	});

</script>

<svelte:head>
	{#if isLoaded}
		<title>Pokedex - {pokeman.name}</title>
	{/if}
</svelte:head>

{#if isLoaded}
	<div class="flex flex-col items-center">
		<h1 class="text-4xl text-center my-8 uppercase">{pokeman.name}</h1>
		<p>
			Type: <strong>{type}</strong> | Height: <strong>{pokeman.height}</strong>
			| Weight: <strong>{pokeman.weight}</strong>
		</p>
		<img class="card-image" src={pokeman.sprites['front_default']} alt={pokeman.name} />
	</div>
{/if}
